<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainURL</key>
	<string>http://api.goeuro.com/api/v2/</string>
	<key>URLs</key>
	<dict>
		<key>URL_CITIES</key>
		<string>position/suggest/</string>
	</dict>
</dict>
</plist>
